.messageField {
  margin-bottom: 10px;

  input,
  button {
    background: none;
    border: none;
    color: crimson;
    outline: none;
    padding: 5px;
    width: 200px;
  }

  input::placeholder {
    color: crimson;
  }
  
  button:hover {
    cursor: pointer;
  }
}