.messageField {
  margin-bottom: 10px;
  padding: 20px;

  // input,
  // button {
  //   background: none;
  //   border: none;
  //   outline: none;
  //   padding: 5px;
  //   width: 200px;
  // }

  // input::placeholder {
  //   color: crimson;
  // }

  // button:hover {
  //   cursor: pointer;
  // }

  input,
  button {
    color: crimson;
  }

  button {
    margin-top: 10px;
  }
}