.message {
  background-color: aquamarine;
  width: 200px;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  
  &-owner{
    align-self: flex-end;
  }

  &-autoanswering{
    align-self: flex-start;
  }
  
  &-sender{
    color: lightseagreen;
  }
}